@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  @apply bg-brandBackground-default;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.7s ease-in-out forwards;
}

.custom-toast-success .Toastify__progress-bar {
  background-color: theme("colors.brandBackground.default");
}

.custom-toast-success .Toastify__toast-body {
  color: theme("colors.brandBackground.default");
}